:host {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    height: 3.9375rem;
    align-items: center;
    padding: 0 1.25rem;
    background: var(--tui-base-01);
    border-bottom: 1px solid var(--tui-base-03);
    block-size: 4.125rem;
    border-block-end: 1px solid var(--tui-border-normal);
    background: color-mix(in srgb, var(--tui-background-base), transparent 50%);
    -webkit-backdrop-filter: blur(1.25rem);
    backdrop-filter: blur(1.25rem);
    box-shadow: var(--tui-shadow-small);

    @supports (background: color-mix(in srgb, var(--tui-base-01), transparent 50%)) {
        background: color-mix(in srgb, var(--tui-base-01), transparent 50%);
        backdrop-filter: blur(1.25rem);
    }
}

.logo {
    margin-right: auto;
    font: var(--tui-font-heading-5);

    &_name {
        display: flex;
        gap: 0.5rem;
        color: var(--tui-text-primary);
        line-height: 4rem;
    }

    &_img {
        display: block;
    }
}
