.app {
    &_page {
        padding-block-start: 4rem;
    }

    &_sidebar {
        position: fixed;
        top: 4rem;
        bottom: 0;
        inline-size: 16.25rem;
        border-inline-end: 1px solid var(--tui-border-normal);
    }

    &_content {
        margin-inline-start: 16.25rem;
    }

    &_content-wrapper {
        margin: 2rem min(2vw, 3.75rem);
    }
}
