:host {
    display: block;
}

.people {
    height: var(--page-wrapper-height);
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &_header {
        font-size: inherit;
        font: var(--tui-font-heading-3);
        color: var(--tui-text-primary);
        box-shadow: inset 0 -1px 0 0 var(--tui-border-normal);
    }

    &_table {
        position: relative;
        flex-grow: 1;
        height: 0; // хак для скролла
    }

    &_pagination {
        padding: 1rem;
    }

    &_loader-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
    }
}
