:host {
    display: block;
}

.people {
    height: calc(100dvh - 8rem);
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &_header {
        font-size: inherit;
        font: var(--tui-font-heading-3);
        color: var(--tui-text-primary);
        box-shadow: inset 0 -1px 0 0 var(--tui-border-normal);
    }

    &_table {
        flex-grow: 1;
        height: 0; // хак для скролла
    }

    &_pagination {
        padding: 1rem;
    }
}
