:host {
    display: block;
}

.people {
    &_header {
        font-size: inherit;
        font: var(--tui-font-heading-3);
        color: var(--tui-text-primary);
        box-shadow: inset 0 -1px 0 0 var(--tui-border-normal);
        box-sizing: border-box;
    }
}
