<div class="people">
    <div tuiCardLarge tuiAppearance="floating">
        <header tuiHeader>
            <h1 tuiTitle>Персонажи</h1>
        </header>

        <sw-people-search
            [name]="name$ | async"
            (nameChange)="nameChange($event)"
            [disabled]="(isLoading$ | async)"
        ></sw-people-search>
    </div>

    <div tuiCardLarge tuiAppearance="floating" class="people_table">
        @if (people$ | async; as people) { @if (people.length) {
        <sw-people-table [people]="people"></sw-people-table>
        } @else {
        <sw-people-empty-block-placeholder
            (resetSearchParams)="resetSearchParams()"
        ></sw-people-empty-block-placeholder>
        } } @if (isLoading$ | async) {
        <tui-loader class="people_loader-overlay" size="xxl" [overlay]="false"> </tui-loader>
        }
    </div>

    <sw-people-pagination
        tuiCardLarge
        tuiAppearance="floating"
        class="people_pagination"
        [page]="(page$ | async) || 1"
        [total]="(totalPages$ | async) || 0"
        [disabled]="(isLoading$ | async)"
        (pageChange)="pageChange($event)"
    ></sw-people-pagination>
</div>
